   .container{
    width: 100%;
    height: 100vh;
    background: none;
    top: -10vh;
   }
   .container1{
      width: 100vw;
      height: 100vh;
      background: none;
      top: -10vh;
      display: flex;
      justify-content: center;
      gap: 50px;
     }
   .navbar{
      margin-bottom: 200vh;
   }
   .hero{
      height: 100vh;
   }
   .carousel{
      margin-top: 100vh;
      width: 100vw;
      height: 100vw;
   }
   .text{
      color: white;
   }

   .center {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      margin-top: 300px;
    }
    .rosecontainer{
      padding-left: 5vw;
      width: 30vw;
    }
    @media (max-width: 768px) {
      .container{
         height: 60vh;
      }
      .hero{
         height: 60vh;
      }
      .center {
         margin-top: 0;
      }
      .container1{
         flex-direction: column;
         height: 140vh;
         position: relative;
      }
      .rosecontainer{
         width: 90vw;
         height: 60vh;
         position: absolute;
         top: 40vh;
      }
    }