.container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
  }
  
  .sectionSubText {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #aaa;
    font-size: 16px;
    text-align: center;
  }
  
  .sectionHeadText {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }
  
  .card {
    background: rgba(0, 0, 0, 0.229);
    color: #fff;
  }
  
  .cardArrow {
    border-right: 7px solid #232631;
  }
  
  .title {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  
  .company {
    color: #ccc;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .pointsList {
    margin-top: 20px;
    padding-left: 20px;
    list-style-type: disc;
  }
  
  .point {
    color: #ddd;
    font-size: 14px;
    line-height: 1.5;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .imgcont{
    overflow: hidden;
    height: 60px;
    width: 60px;
    border-radius: 30px;
  }

  @media (max-width: 768px) {
    .imgcont{
      height: 40px;
      width: 40px;
    }
    .img{
      height: 40px;
      width: 40px;
    }
    .container {
      margin-bottom: 0;
    }
  }
  