.container {
    margin: 40px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 45vw;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
  }

  .flex1{
    display: flex;
  }
  
  .heading {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .notification {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 14px;
    background: rgba(54, 54, 54, 0.411);
    color: #fff;
    padding: 15px 20px;
    border-radius: 4px;
    z-index: 1000;
  }
  
  
  .input,
  .textarea {
    width: 96%;
    padding: 0 15px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background: rgba(46, 46, 46, 0.2);
    color: #fff;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid rgb(72, 72, 72);
  }

  .input{
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .input::placeholder{
    height: 100px;
    display: flex;
    align-items: baseline;
  }

  .textarea{
    padding: 20px 15px;
  }
  
  .input::placeholder,
  .textarea::placeholder {
    color: #ddd;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .input:focus,
  .textarea:focus {
    background: rgba(93, 93, 93, 0.3);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7);
  }
  
  .textarea {
    min-height: 150px;
    resize: vertical;
  }
  
  .button {
    padding: 12px 20px;
    font-size: 3rem;
    width: max-content;
    border: none;
    border-radius: 8px;
    background-color: rgb(28, 28, 28);
    border: 1px solid rgb(72, 72, 72);
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button:hover {
    background-color: white;
  }

  .flex2{
    display: flex;
  }
  
  @media (max-width: 768px) {
    .container {
      width: 90vw;
      height: 100vh;
    }
    .form {
      margin-top: 150px;
    }
  }